


.main1{
    background-image: linear-gradient(110deg, #ff784f 0%, #ce4f51 100%);
    width: 100%;
    height: 760px;
    
}
.texto-main{
    display: block;
    text-align: center;
    padding-top: 43px;
}

.texto-main h2 {
    padding-bottom: 5px;
    color: white;
}

.texto-main h1 {
    font-family: 'Roboto', sans-serif;
    color: #2A2A2A;
    font-size: 1.9rem;
    line-height: 1.6;
}
.main-2{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.main-2 > section {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
}
.bloco1{
    background-color: white;
    width: 300px;
    height: 429px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 5px;   
    margin: auto;
    transition: transform 0.1s;    
}
@media  screen and (max-width:928px) {
    .main1{
        height: 1670px;
    }
    .main-2{
        display: flex;
        flex-wrap: wrap;
    }
    .bloco1{
        flex-direction: column;
        flex-wrap: wrap;
        transition: transform none
    }
    
    .bloco1:hover{
        transform: scale(1.0);
}
}

.bloco1:hover{
    transform: scale(1.1);
    box-shadow: -2px -2px 20px 6px rgba(0, 0, 0, 0.144) 
}
.text-bloco-1 > h3 {
    padding-top:15px;    
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 38px;
    text-align: center;

}

.text-bloco-1 > p {
    color: #4D4A4F;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
    margin: auto;
    width: 243px;
    height: 100px;
}
.text-bloco-2 > h3 {
    padding-top:15px;      
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 38px;
    text-align: center;

}
.text-bloco-2 > p {
    color: #4D4A4F;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
    margin: auto;
    width: 243px;
    height: 100px;
}
.text-bloco-3 > h3 {
    padding-top:15px;    
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 38px;
    text-align: center;

}
.text-bloco-3 > p {
    color: #4D4A4F;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
    margin: auto;
    width: 240px;
    height: 100px;
}


.deli {
    color: #f5bb00; display: block; position: absolute; font-size: 30px; font-weight: bold;
}


button{
    padding: 10px;
    margin: auto;
    border: none;
    background-image: linear-gradient(110deg, #ff784f 0%, #ce4f51 100%);
    width: 186px;
    height: 70px;
    border-radius: 12px;
    margin-top: 35px;
    cursor: pointer;
}

button > p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
}