  .main1{
    background-image: linear-gradient(110deg, #ff784f 0%, #ce4f51 100%);
    width: 100%;
    height: 760px;}
  .texto-main{
    display: block;
    text-align: center;
    padding-top: 43px;}
  .texto-main h2 {
    padding-bottom: 5px;
    color: white;}
  .texto-main h1 {
    font-family: 'Roboto', sans-serif;
    color: #2A2A2A;
    font-size: 1.9rem;
    line-height: 1.6;}
  .main-2{
    margin-top: 60px;
    display: flex;
    justify-content: center;}
  .main-2 > section {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;}
  .bloco1{
    background-color: white;
    width: 300px;
    height: 429px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 5px;   
    margin: auto;
    transition: transform 0.1s;    } 
  .bloco1:hover{
  transform: scale(1.1);
  box-shadow: -2px -2px 20px 6px rgba(0, 0, 0, 0.144) }
  .text-bloco-1 > h3 {
    padding-top:15px;    
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 38px;
    text-align: center;}
  .text-bloco-1 > p {
    color: #4D4A4F;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
    margin: auto;
    width: 243px;
    height: 100px;}
  .text-bloco-2 > h3 {
    padding-top:15px;      
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 38px;
    text-align: center;}
  .text-bloco-2 > p {
    width: 243px;
    height: 100px;
    color: #4D4A4F;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
    margin: auto;}
  .text-bloco-3 > h3 {
    padding-top:15px;    
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 38px;
    text-align: center;}
  .text-bloco-3 > p {
    color: #4D4A4F;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
    margin: auto;
    width: 240px;
    height: 100px;}
  .deli {
    color: #f5bb00;
    display: block;
    position:absolute;
    font-size: 30px;
    font-weight: bold;}
  .main-2 button{
  padding: 10px;
  margin: auto;
  border: none;
  background-image: linear-gradient(110deg, #ff784f 0%, #ce4f51 100%);
  width: 186px;
  height: 70px;
  border-radius: 12px;
  margin-top: 35px;
  cursor: pointer;}
  .main-2 button:hover{
    background-image: linear-gradient(110deg, #ce4f51 0%, #ff784f 100%);
    color: wheat;}
  button > p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;}
  .geral{
  text-decoration: none;}
  .main-3 {
    width: 100%;
    height: 800px;}
  .main-3 > h2 {
    color: #ff784f;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;}
  .main-3 > h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;}
  .main-3 > .tmr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 900px;
    margin: auto;}
  .main-3 > .tmr > img {
    width: 300px;
    height: 300px;
    display: flex;
    padding: 30px;}
  .temperos-buttom > button {
      text-align: center;
      width: 186px;
      height: 70px;
      border-radius: 12px;
      margin: auto;
      display: block;
      background-image: linear-gradient(110deg, #ff784f 0%, #ce4f51 100%);
      cursor: pointer;
      border: none;}
  .temperos-buttom > button:hover{
    background-image: linear-gradient(110deg,#ce4f51 0%, #ff784f 100%);}
  .temperos-buttom > button > p {
    color: white;
    font-size: 1.125rem;
    font-weight: bold;}


@media  screen and (max-width:940px) {
  .main1{
      height: 1670px;
  }
  .main-2{
      display: flex;
      flex-wrap: wrap;
  }
  .bloco1{
      flex-direction: column;
      flex-wrap: wrap;
      transition: transform none
  }
  
  .bloco1:hover{
      transform: scale(1.0);
}}
@media screen and (min-width:626px) and (max-width:939px) {
  .main1{
    height: 1200px;
}}
@media  screen and (max-width:918px) {
  .main-3 > .tmr{
    flex-wrap: wrap;
    max-width: 100%;
  }
  .bannerBug .banner__container{
    position: relative;
    top: 500px;
  }}
@media screen and (max-width:615px) {
  .bannerBug .banner__container{
    position: relative;
    top: 400px;
  }}