.footer__grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    place-items: flex-start center;
    gap: 20px;
    padding: 40px 4%;}
  .footer__div-logo {
    max-width: 250px;
    width: 100%;
    place-self: flex-start;
    color: var(--gray);}
  .footer__div-empresa,.footer__div-servicos,.footer__div-contato {
    display: flex;
    flex-direction: column;
    gap: 12px;}
  .footer__div-empresa h3,.footer__div-servicos h3,.footer__div-contato h3 {
    font-size: 1.25rem;
    color: var(--black);
    line-height: 1.6;}
  .footer__div-empresa ul,.footer__div-servicos ul,.footer__div-contato ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;}
  .footer__div-empresa ul li a,.footer__div-servicos ul li a,.footer__div-contato ul li a {
    text-decoration:none;color: var(--gray) ; transition: .3s; padding: 3px;}
  .footer__div-empresa ul li a:hover,.footer__div-servicos ul li a:hover,.footer__div-contato ul li a:hover{
    color: var(--coral);transition: .3s;}
  .footer__div-contato ul li a {
    display: flex;align-items: center;gap: 5px;}
  .footer__div-contato img {
    width: 20px;height: 20px;}
  .copyright__container {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid var(--gray);
      padding-top: 30px;
     padding-bottom: 10px;}
  .copyright__container a.geral,p{
    color: var(--gray);
    cursor: pointer;
    margin: 3px; transition: .2s;}
    .copyright__container a.geral:hover{
      color: black; transition: .2s;
    }
  .copyright__container div {
      display: flex;
      gap: 20px;}
  .copyright__container{
    position: relative;
    top: 100px;}

@media (max-width: 768px) {
  .footer__grid-container {grid-template-columns: 1fr 1fr;place-items: flex-start;gap: 40px;top: 600px;position: relative;}
  .copyright__container{
    position: relative;
    top: 600px;}}
@media(max-width: 767px) {
  .footer__grid-container{position: relative;margin-top: 300px;}
  .bannerBug .banner__container{position: relative;top: 1400px;}}
@media screen and (max-width:1250px) {
  .footer__grid-container{top: 100px;position: relative;}
  .copyright__container{top: 150px;position: relative;}}
@media screen and (max-width:1236px) {
    .footer__grid-container{top: 250px;position: relative;}
    .copyright__container{top: 300px;position: relative;}
}
@media (max-width: 400px) {
  .footer__grid-container {grid-template-columns: 1fr;place-items: center flex-start;}
  .footer__div-logo {place-self: center;display: flex;flex-direction: column;text-align: center;justify-content: center;align-items: center;}}
