.main1{
    background: var(--gradient);
    width: 100%;
    min-height:400px;
    max-height: 1100px;
}
.main1 .h2Principal{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 74px;
}

.main1 .art{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
}

.art article{
   max-width: 350px;
}
.art article > p{
    text-align: center;
    line-height: 25.2px;
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
  
}
.art article h2 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}
.art article h2 span{
     padding-right: 8px;
}



@media screen and (max-width:800px) {
    .main1 .art{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:900px){
    .main1{
        max-height: 550px;
        margin: auto;
        width: 100%;
    }
    .main1 .art{
        padding-top: 10px;
        text-indent: 1em;
        flex-wrap: wrap;
        margin: auto;  
    }
    .art article{
        flex-wrap: wrap;
        margin: 10px;
    }
    .art article p {
        flex-wrap: wrap;
    }
}